{% extends 'spotify/base.html'%}
{% block content %}

    <div>
        <div class="card bg-dark text-white">
            <img src="{{ song.song_image.url }}" class="card-img" alt="..." width="350" height="600">
            <div class="card-img-top">
              <h5 class="card-title" style="margin-left: 3%;">{{ song.song_title }}</h5>
              <h7 class="card-title">{{ song.song_author }}</h7>
              <audio controls>
                <source src="{{ song.audio.url }}" type="audio/mpeg">
                <source src="myAudio.ogg" type="audio/ogg">
                <p>Your browser doesn't support HTML5 audio. Here is
                   a <a href="myAudio.mp3">link to the audio</a> instead.</p>
              </audio>
            </div>
          </div>
    </div>
{% endblock content%}